<h1 class="page-header">Dashboard</h1>
<% if notice %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<div>Pi last reported: <strong><%= time_ago_in_words(@log.created_at) %> ago</strong></div>
<div class="well well-lg">
  <%= @log.content %>
</div>

<% if @weathers.present? %>
<div id="temperature_gauge"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['gauge', 'line', 'corechart']});
</script>
<script type="text/javascript">
(function() {
  google.charts.setOnLoadCallback(drawTemperatureGuage);
  var gaugeOptions = {
    min: 0,
    max: 50,
    yellowFrom: 30,
    yellowTo: 40,
    redFrom: 40,
    redTo: 50,
    minorTicks: 5
  };
  var gauge;

  function drawTemperatureGuage() {
    gaugeData = new google.visualization.DataTable();
    gaugeData.addColumn('number', 'Temperature');
    gaugeData.addRows(1);
    gaugeData.setCell(0, 0, <%= @weather.last.temperature %>);

    gauge = new google.visualization.Gauge(document.getElementById('temperature_gauge'));
    gauge.draw(gaugeData, gaugeOptions);
  }

  function changeTemp(dir) {
    gaugeData.setValue(0, 0, gaugeData.getValue(0, 0) + dir * 25);
    gaugeData.setValue(0, 1, gaugeData.getValue(0, 1) + dir * 20);
    gauge.draw(gaugeData, gaugeOptions);
  }
})();
</script>

<div id="weather_chart"></div>

<script>
(function() {
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var chartDiv = document.getElementById('weather_chart');

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Time');
    data.addColumn('number', "Temperature");
    data.addColumn('number', "Humidity");

    data.addRows([
    <%= @weathers.map do |weather|
          ["[new Date(#{weather.created_at.year}, #{weather.created_at.month}, #{weather.created_at.day}, #{weather.created_at.hour}, #{weather.created_at.min}),#{weather.temperature},#{weather.humidity}]"]
        end.join(",\n").html_safe %>
    ]);

    var materialOptions = {
      chart: {
        title: 'Temperature and Humidity'
      },
      width: 900,
      height: 500,
      series: {
        // Gives each series an axis name that matches the Y-axis below.
        0: {axis: 'Temperature'},
        1: {axis: 'Humidity'}
      },
      axes: {
        // Adds labels to each axis; they don't have to match the axis names.
        y: {
          Temps: {label: 'Temperature'},
          Daylight: {label: 'Humidity'}
        }
      }
    };

    var materialChart = new google.charts.Line(chartDiv);
    materialChart.draw(data, materialOptions);
  }
})();
</script>
<% end %>